[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"

[packages]
flask = "*"
flask_restful = "*"
flask_cors = "*"
slackclient = "*"
pyyaml = "*"
psycopg2-binary = "*"
bjoern = "*"
#api = "*"

[requires]
python_version = "3.7"
