[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
codecov = "*"

[packages]
flask = "*"
flask_restful = "*"
flask_cors = "*"
slackclient = "*"
websocket-client = "*"
pyyaml = "*"
psycopg2-binary = "*"
bjoern = "*"
python-json-logger = "*"

[requires]
python_version = "3.7"
